---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import MainContainer from "../../layouts/MainContainer.astro";
import LeftContainer from "../../layouts/LeftContainer.astro";
import CenterContainer from "../../components/CenterContainer.astro";
import RightContainer from "../../layouts/RightContainer.astro";
import Content from "../../components/Content.jsx";
---

<Layout title="admitere-mate | cuza.pages.dev">
    <Navbar>
        <Navbar />
    </Navbar>
    <MainContainer>
        <LeftContainer>
            <span class="text-lg font-bold text-white">Altele</span>
            <ul class="text-slate-500 flex flex-col space-y-2 lg:space-y-1">
                <Content subject={"admitere"} page={"altele-mate"} />
            </ul>
        </LeftContainer>
        <CenterContainer />
        <RightContainer>
            <Content subject={"admitere"} page={"mate-extra"} />
        </RightContainer>
    </MainContainer>
    <Footer />
</Layout>
