@import "tailwindcss";

@layer base {
	@font-face {
		font-family: Poppins;
		font-style: normal;
		font-weight: 500; /* matches medium file */
		font-display: swap;
		src: url("/assets/fonts/poppins-medium.woff2") format("woff2")
	}
	@font-face {
		font-family: Inter;
		font-style: normal;
		font-weight: 500; /* medium */
		font-display: swap;
		src: url("/assets/fonts/inter-medium.woff2") format("woff2")
	}
	:root {
		--bs-gutter-x: 1.5rem;
		--bs-gutter-y: 0;
	}
	html { scroll-behavior: smooth; }
	a { transition: 0.2s; }

	table {
        border-collapse: collapse;
        width: 100%;
        margin: 1rem 0;
    }
    th, td {
        border: 1px solid #30363d;
        padding: 6px 13px;
        text-align: left;
    }
    th {
        background-color: #161b22;
        font-weight: 600;
    }
    tr:nth-child(even) {
        background-color: #0d1117;
    }
}

@layer components {
	.container { width:100%; padding-right:calc(var(--bs-gutter-x)*0.5); padding-left:calc(var(--bs-gutter-x)*0.5); }
	.row { display:flex; flex-wrap:wrap; }
	.row > * { flex-shrink:0; width:100%; max-width:100%; padding-right:calc(var(--bs-gutter-x)*0.5); padding-left:calc(var(--bs-gutter-x)*0.5); margin-top:var(--bs-gutter-y); }
	.col { flex:1 0 0%; }
	.backgroundImage { background: url("/assets/img/background/bg-pattern.webp"), linear-gradient(to left,#212735,#337fd5); background-attachment:fixed; }
	.grass { z-index:-2; position:fixed; bottom:0; left:0; width:100%; height:170px; background-image:url("/assets/img/background/grass.webp"); background-repeat:repeat-x; }
	.clouds { z-index:-1; position:fixed; top:0; left:0; width:100%; height:275px; background-image:url("/assets/img/background/clouds.webp"); background-repeat:repeat-x; }
	.bunny { z-index:-1; position:fixed; bottom:-1px; left:0; width:250px; height:300px; background-image:url("/assets/img/background/bunny.webp"); background-repeat:no-repeat; }
	.astro-code { border-radius:5px; padding:10px; }
}

@layer utilities {
	.extra-list { @apply flex flex-col space-y-2 lg:space-y-1; }
	.extra-link { @apply text-slate-500 hover:text-slate-300; } /* dark-reader: text-zinc-500 hover:text-zinc-300 */
	.extra-text { @apply text-slate-300; }/* dark-reader: text-zinc-300 */
	.content-list { @apply space-y-4; }
	.content-text { @apply text-gray-900 md:text-lg; } /* dark-reader: text-zinc-100 */
	.content-link { @apply text-slate-600 hover:text-slate-900 focus:text-slate-900 md:text-lg; } /* dark-reader: text-zinc-400 hover:text-zinc-200 focus:text-zinc-200 */
	.QR { @apply max-md:hidden; }
	.shortcut-link { @apply text-slate-500 hover:text-slate-300 text-lg; }
	.shortcut-pipe { @apply text-slate-500 text-lg; }
}

@theme {
    --font-family-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-serif: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --breakpoint-xxs: 320px;
    --breakpoint-xs: 400px;
}
