---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Pagină negăsită">
	<div class="flex flex-col items-center justify-center min-h-screen text-center px-4">
		<div class="rounded-3xl bg-[rgba(10,13,16,.9)] text-white">
            <div class="m-8">
            <h1 class="text-6xl font-bold text-orange-600 mb-4">Eroare 404</h1>
            <h2 class="text-3xl font-semibold mb-6">Pagină negăsită</h2>
            <p class="text-lg mb-8 max-w-md">
                Ne pare rău, pagina pe care o cauți nu a fost găsită sau nu mai există.
            </p>
            <a href="/" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg">
                Înapoi la pagina principală
            </a>
            </div>
        </div>
	</div>
</Layout>
