---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContainer from "../layouts/MainContainer.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import CenterContainer from "../components/CenterContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import Content from "../components/Content.jsx";
---

<Layout>
    <Navbar>
        <ul class="flex flex-wrap !pl-0 !mb-0 list-none border-none mx-auto">
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="/">Prima pagină</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-lime-400"
                    href="antrenament">Teste de antrenament</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="#">Matematică</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="#">Bac</a
                >
            </li>
        </ul>
    </Navbar>
    <MainContainer>
        <LeftContainer>
            <span class="text-lg font-bold text-white">Altele</span>
            <ul class="text-slate-500 flex flex-col space-y-2 lg:space-y-1">
                <Content page={"altele"} />
            </ul>
        </LeftContainer>
        <CenterContainer />
        <RightContainer>
            <Content page={"teste"} />
        </RightContainer>
    </MainContainer>
    <Footer />
</Layout>
