---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContainer from "../layouts/MainContainer.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import CenterContainer from "../components/CenterContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import Anunturi from "../components/Anunturi.astro"
---

<Layout title="mate-fizica | cuza.pages.dev">
    <Navbar />
    <MainContainer>
        <LeftContainer>
            <span class="text-md text-white">Scaneaza codul QR de mai jos pentru a instala aplicatia!</span>
            <img />
        </LeftContainer>
        <CenterContainer />
        <RightContainer>
           <Anunturi />
        </RightContainer>
    </MainContainer>
    <Footer />
</Layout>
