---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <section
        class="text-center flex flex-col items-center py-6">
        <div class="container bg-zinc-950/90 rounded-3xl  py-5 max-w-screen-lg">
            <div class="row mx-3">
                <div class="md:basis-1/2 xl:basis-1/3 text-left">
                    <div class="row">
                        <div class="col">
                            <a
                                class="text-white hover:text-white no-underline flex align-items-center"
                                href="/"
                                ><span
                                    class="shadow flex justify-center items-center me-2 hover-rotate"
                                    ><img
                                        src="assets/img/logo/atom-w.svg"
                                        width="32"
                                        height="35.03"
                                        alt="logo"
                                    /></span
                                >
                                <h1 class="container no-underline whitespace-nowrap italic font-bold m-0 text-3xl">CuzaLearn</h1>
                            </a>
                            <div class="row">
                                <div class="col">
                                    <h2 class="text-blue-300 text-xs mb-2">
                                        Subiecte de bac din anii anteriori la
                                        fizică și matematică pentru liceeni si
                                        profesori.
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col my-2">
                    <nav>
                        <ul class="flex flex-wrap pl-0 mb-0 list-none border-none mx-auto">
                            <li>
                                <a class="text-lg font-bold py-2 px-4 hover:text-lime-400 text-lime-400" href="/"
                                    >Prima pagină</a
                                >
                            </li>
                            <li>
                                <a class="text-lg font-bold py-2 px-4 hover:text-lime-400 text-blue-500" href="antrenament"
                                    >Teste de antrenament</a
                                >
                            </li>
                            <li>
                                <a class="text-lg font-bold py-2 px-4 hover:text-lime-400 text-blue-500" href="#">Matematică</a>
                            </li>
                            <li>
                                <a class="text-lg font-bold py-2 px-4 hover:text-lime-400 text-blue-500" href="#">Bac</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col p-0">
                    <div class="banner"></div>
                </div>
            </div>
        </div>
    </section>
    <div
        class="container flex items-start max-w-screen-lg mx-auto p-0">
        <div
            class="bg-zinc-950/90 rounded-3xl py-5 mb-2.5">
            <div class="mx-5">
                <span class="text-lg font-bold text-white">Altele</span>
                <ul class="text-slate-600">
                    <li>
                        <a href="files/Culegere_9_Chirita.pdf" target="_blank"
                            >Culegere_9_Chirita.pdf</a
                        >
                    </li>
                    <li>
                        <a href="files/Culegere_9_Nicoara.pdf" target="_blank"
                            >Culegere_9_Nicoara.pdf</a
                        >
                    </li>
                    <li>
                        <a href="files/Culegere_10_Chirita.pdf" target="_blank"
                            >Culegere_10_Chirita.pdf</a
                        >
                    </li>
                    <li>
                        <a href="files/Culegere_10_Nicoara.pdf" target="_blank"
                            >Culegere_10_Nicoara.pdf</a
                        >
                    </li>
                    <li>
                        <a
                            href="files/100-variante-mecanica.pdf"
                            target="_blank">100-variante-mecanica.pdf</a
                        >
                    </li>
                    <li>
                        <a
                            href="files/100-variante-termodinamica.pdf"
                            target="_blank">100-variante-termodinamica.pdf</a
                        >
                    </li>
                    <li>
                        <a
                            href="files/100-variante-electricitate.pdf"
                            target="_blank">100-variante-electricitate.pdf</a
                        >
                    </li>
                    <li>
                        <a href="files/100-variante-optica.pdf" target="_blank"
                            >100-variante-optica.pdf</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <div class=""></div>
        <div class="font-['Inter'] bg-white rounded-3xl p-5 pl-2.5 mb-12 break-words">
            <article>
                <p>2023</p>
                <p>
                    <a
                        href="files/H_Hulubei_regionala_SUBIECT_clasa_XII_real_2023.pdf"
                        target="_blank"
                        >H_Hulubei_regionala_SUBIECT_clasa_XII_real_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Dolj_2023.pdf"
                        target="_blank">E_d_subiect_fizica_teoretic_Dolj_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_barem_fizica_teoretic_Dolj_2023.pdf"
                        target="_blank">E_d_barem_fizica_teoretic_Dolj_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Galati_2023.pdf"
                        target="_blank"
                        >E_d_subiect_fizica_teoretic_Galati_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_barem_fizica_teoretic_Galati_2023.pdf"
                        target="_blank">E_d_barem_fizica_teoretic_Galati_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Iasi_2023.pdf"
                        target="_blank">E_d_subiect_fizica_teoretic_Iasi_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Hunedoara_2023.pdf"
                        target="_blank"
                        >E_d_subiect_fizica_teoretic_Hunedoara_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Maramures_2023.pdf"
                        target="_blank"
                        >E_d_subiect_fizica_teoretic_Maramures_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_simulare_fizica_teoretic_Dambovita_2023.pdf"
                        target="_blank"
                        >E_d_simulare_fizica_teoretic_Dambovita_2023</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_barem_fizica_teoretic_Dambovita_2023.pdf"
                        target="_blank"
                        >E_d_barem_fizica_teoretic_Dambovita_2023</a
                    >
                </p>
                <p>2022</p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Constanta_2022.pdf"
                        target="_blank"
                        >E_d_subiect_fizica_teoretic_Constanta_2022</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_barem_fizica_teoretic_Constanta_2022.pdf"
                        target="_blank"
                        >E_d_barem_fizica_teoretic_Constanta_2022</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_subiect_fizica_teoretic_Iasi_2022.pdf"
                        target="_blank">E_d_subiect_fizica_teoretic_Iasi_2022</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_barem_fizica_teoretic_Iasi_2022.pdf"
                        target="_blank">E_d_barem_fizica_teoretic_Iasi_2022</a
                    >
                </p>
                <p>2021</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2021_var_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2021_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2021_bar_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2021_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2021_var_model.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2021_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2021_bar_model.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2021_bar_model</a
                    >
                </p>
                <p>2020</p>
                <p>Sesiune august</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_var_05_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_var_05_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_bar_05_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_bar_05_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_var_05_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_var_05_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_bar_05_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_bar_05_LRO</a
                    >
                </p>
                <p>Sesiunea iunie</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_var_06_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_var_06_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_bar_06_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_bar_06_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_var_06_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_var_06_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_bar_06_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_bar_06_LRO</a
                    >
                </p>
                <p>Sesiunea speciala</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_var_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_bar_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2020_bar_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_var_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_bar_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_bar_02_LRO</a
                    >
                </p>
                <p>Modele</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_var_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2020_var_model_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2020_bar_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2020_bar_model_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_var_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_var_model_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2020_bar_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2020_bar_model_LRO</a
                    >
                </p>
                <p>2019</p>
                <p>Sesiuni I-II</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_bar_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_04_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_var_04_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_04_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_bar_04_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_05_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_var_05_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_05_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_bar_05_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_var_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_bar_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_bar_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_var_04_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_var_04_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_bar_04_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_bar_04_LRO</a
                    >
                </p>
                <p>Sesiune speciala</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_01_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_var_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_01_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_bar_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_var_01_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_var_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_bar_01_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_bar_01_LRO</a
                    >
                </p>
                <p>Simulare</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2019_var_simulare_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2019_bar_simulare_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_var_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_var_simulare_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_bar_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_bar_simulare_LRO</a
                    >
                </p>
                <p>Modele</p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_var_model.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2019_bar_model.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2019_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_var_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2019_bar_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2019_bar_model</a
                    >
                </p>
                <p>2018</p>
                <p>Sesiuni I &#8211; II</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_var_01_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_var_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_bar_01_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_bar_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_var_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_bar_02_LRO.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_bar_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_var_01_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_var_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_bar_01_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_bar_01_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_var_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_var_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_bar_02_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_bar_02_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_var_03_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_var_03_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_bar_03_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_bar_03_LRO</a
                    >
                </p>
                <p>Sesiunea speciala</p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_var_09_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_var_09_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_bar_09_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_bar_09_LRO</a
                    >
                </p>
                <p>Modele</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2018_var_model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2018_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2018_bar_model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2018_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_var_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_bar_model.pdf"
                        target="_blank">E_d_fizica_tehnologic_2018_bar_model</a
                    >
                </p>
                <p>Simulare</p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_var_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_var_simulare_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2018_bar_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2018_bar_simulare_LRO</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_var_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2018_var_simulare_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2018_bar_simulare_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2018_bar_simulare_lro</a
                    >
                </p>
                <p>2017</p>
                <p>Sesiunea speciala</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_var_03_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_var_03_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_bar_03_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_bar_03_lro</a
                    >
                </p>
                <p>Modele</p>
                <p>
                    <a
                        href="files/e-d-fizica-tehnologic-2017-var-model.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e-d-fizica-tehnologic-2017-bar-model.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e-d-fizica-teoretic-vocational-2017-var-model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e-d-fizica-teoretic-vocational-2017-bar-model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_bar_model</a
                    >
                </p>
                <p>Simulare</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_var_simulare_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_var_simulare_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_bar_simulare_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_bar_simulare_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_var_simulare_lro.pdf"
                        target="_blank"
                        >e_d_fizica_tehnologic_2017_var_simulare_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_bar_simulare_lro.pdf"
                        target="_blank"
                        >e_d_fizica_tehnologic_2017_bar_simulare_lro</a
                    >
                </p>
                <p>Sesiunea I</p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_var_04_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_var_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_bar_04_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_bar_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_var_07_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_var_07_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2017_bar_07_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2017_bar_07_lro</a
                    >
                </p>
                <p>Sesiunea II</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_var_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_var_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_bar_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_bar_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_var_07_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_var_07_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2017_bar_07_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2017_bar_07_lro</a
                    >
                </p>
                <p>2016</p>
                <p>Sesiunea I</p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2016_var_10_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2016_var_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2016_bar_10_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2016_bar_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_var_10_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_var_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_bar_10_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_bar_10_lro</a
                    >
                </p>
                <p>Sesiunea II</p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2016_var_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2016_var_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2016_bar_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2016_bar_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_var_09_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_var_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_bar_09_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_bar_09_lro</a
                    >
                </p>
                <p>Sesiunea olimpici</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_var_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_var_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2016_bar_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2016_bar_04_lro</a
                    >
                </p>
                <p>Simulare</p>
                <p>
                    <a
                        href="files/SUBIECT_E_d_fizica_tehnologic_2016_var_simulare.pdf"
                        target="_blank"
                        >SUBIECT_E_d_fizica_tehnologic_2016_var_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_E_d_fizica_tehnologic_2016_bar_simulare.pdf"
                        target="_blank"
                        >BAREM_E_d_fizica_tehnologic_2016_bar_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/SUBIECT_E_d_fizica_teoretic_vocational_2016_var_simulare.pdf"
                        target="_blank"
                        >SUBIECT_E_d_fizica_teoretic_vocational_2016_var_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_E_d_fizica_teoretic_vocational_2016_bar_simulare.pdf"
                        target="_blank"
                        >BAREM_E_d_fizica_teoretic_vocational_2016_bar_simulare</a
                    >
                </p>
                <p>Modele</p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2016_var_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2016_var_model_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_tehnologic_2016_bar_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_tehnologic_2016_bar_model_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2016_var_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2016_var_model_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/E_d_fizica_teoretic_vocational_2016_bar_model_LRO.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_2016_bar_model_lro</a
                    >
                </p>
                <p>2015</p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_var_02_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2015_var_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_bar_02_lro.pdf"
                        target="_blank">E_d_fizica_tehnologic_2015_bar_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_var_02_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_var_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_bar_02_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_bar_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_var_09_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_var_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_bar_09_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_bar_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_var_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2015_var_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_bar_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2015_bar_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_var_model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2015_bar_model.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2015_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/SUBIECT_Fizica_teoretic_vocational_2015_simulare.pdf"
                        target="_blank"
                        >SUBIECT_Fizica_teoretic_vocational_2015_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_Fizica_teoretic_vocational_2015_simulare.pdf"
                        target="_blank"
                        >BAREM_Fizica_teoretic_vocational_2015_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_var_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2015_var_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2015_bar_09_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2015_bar_09_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/SUBIECT_Fizica_tehnologic_2015_simulare.pdf"
                        target="_blank"
                        >SUBIECT_Fizica_tehnologic_2015_simulare</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_Fizica_tehnologic_2015_simulare.pdf"
                        target="_blank">BAREM_Fizica_tehnologic_2015_simulare</a
                    >
                </p>
                <p>2014</p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_var_02_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_var_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_bar_02_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_bar_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_var_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_var_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_bar_04_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_bar_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_var_10_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_var_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_2014_bar_10_lro.pdf"
                        target="_blank"
                        >e_d_fizica_teoretic_vocational_2014_bar_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/SUBIECT_fizica_tehnologic_2014_var_model.pdf"
                        target="_blank"
                        >SUBIECT_fizica_tehnologic_2014_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_fizica_tehnologic_2014_bar_model.pdf"
                        target="_blank"
                        >BAREM_fizica_tehnologic_2014_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2014_var_04_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2014_var_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2014_bar_04_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2014_bar_04_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2014_var_10_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2014_var_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_2014_bar_10_lro.pdf"
                        target="_blank">e_d_fizica_tehnologic_2014_bar_10_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/fizica_teoretic_vocational_2014_bar_model.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2014_bar_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/fizica_teoretic_vocational_2014_var_model.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2014_var_model</a
                    >
                </p>
                <p>
                    <a
                        href="files/2014_simulare_teoretic_var.pdf"
                        target="_blank">2014_simulare_teoretic_var</a
                    >
                </p>
                <p>
                    <a
                        href="files/2014_simulare_teoretic_bar.pdf"
                        target="_blank">2014_simulare_teoretic_bar</a
                    >
                </p>
                <p>
                    <a
                        href="files/2014_fizica_tehnologic_simulare_var.pdf"
                        target="_blank">2014_fizica_tehnologic_simulare_var</a
                    >
                </p>
                <p>
                    <a
                        href="files/2014_fizica_tehnologic_simulare_bar.pdf"
                        target="_blank">2014_fizica_tehnologic_simulare_bar</a
                    >
                </p>
                <p>2013</p>
                <p>
                    <a
                        href="files/e_d_xii_fizica_tehnologic_var_simulare_lro.pdf"
                        target="_blank">subiect_simulare_tehnologic_2013</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_xii_fizica_tehnologic_bar_simulare_lro.pdf"
                        target="_blank">barem_simulare_tehnologic_2013</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_xii_fizica_teoretic_vocational_var_simulare_lro.pdf"
                        target="_blank"
                        >subiect_simulare_teoretic_vocational_2013</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_xii_fizica_teoretic_vocational_bar_simulare_lro.pdf"
                        target="_blank"
                        >barem_simulare_teoretic_vocational_2013</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_var_06_lro.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2013_var_06_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_bar_06_lro.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2013_bar_06_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_var_02_lro.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2013_var_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_bar_02_lro.pdf"
                        target="_blank"
                        >fizica_teoretic_vocational_2013_bar_02_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_var_06_lro.pdf"
                        target="_blank">fizica_tehnologic_2013_var_06_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_bar_06_lro.pdf"
                        target="_blank">fizica_tehnologic_2013_bar_06_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_var_07_lro.pdf"
                        target="_blank">E_d_fizica_tehnologic_var_07_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_tehnologic_bar_07_lro.pdf"
                        target="_blank">E_d_fizica_tehnologic_bar_07_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_var_07_lro.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_var_07_lro</a
                    >
                </p>
                <p>
                    <a
                        href="files/e_d_fizica_teoretic_vocational_bar_07_lro.pdf"
                        target="_blank"
                        >E_d_fizica_teoretic_vocational_bar_07_lro</a
                    >
                </p>
                <p>2012</p>
                <p>
                    <a href="files/Fizica_Var_03_2012.pdf" target="_blank"
                        >Fizica_Var_03_2012</a
                    >
                </p>
                <p>
                    <a href="files/Fizica_Barem_03_2012.pdf" target="_blank"
                        >Fizica_Barem_03_2012</a
                    >
                </p>
                <p>
                    <a href="files/Fizica_Var_09_2012.pdf" target="_blank"
                        >Fizica_Var_09_2012</a
                    >
                </p>
                <p>
                    <a href="files/Fizica_Barem_09_2012.pdf" target="_blank"
                        >Fizica_Barem_09_2012</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAC2012_Fizica_Model_Subiect.pdf"
                        target="_blank">Fizica_Model_2012_Subiect</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAC2012_Fizica_Model_Barem.pdf"
                        target="_blank">Fizica_Model_2012_Barem</a
                    >
                </p>
                <p>2011</p>
                <p>
                    <a href="files/Proba_E_d_Fizica_Var_09.pdf" target="_blank"
                        >Proba_E_d_Fizica_Var_09</a
                    >
                </p>
                <p>
                    <a
                        href="files/Proba_E_d_Fizica_Barem_09.pdf"
                        target="_blank">Proba_E_d_Fizica_Barem_09</a
                    >
                </p>
                <p>
                    <a href="files/Proba_E_d_Fizica_Var_03.pdf" target="_blank"
                        >Proba_E_d_Fizica_Var_03</a
                    >
                </p>
                <p>
                    <a
                        href="files/Proba_E_d_Fizica_Barem_03.pdf"
                        target="_blank">Proba_E_d_Fizica_Barem_03</a
                    >
                </p>
                <p>
                    <a
                        href="files/SUBIECT_simulare_bac_2011_Fizica.pdf"
                        target="_blank">SUBIECT_simulare_bac_2011_Fizica</a
                    >
                </p>
                <p>
                    <a
                        href="files/BAREM_simulare_bac_2011_Fizica.pdf"
                        target="_blank">BAREM_simulare_bac_2011_Fizica</a
                    >
                </p>
                <p>
                    <a
                        href="files/Proba_e_d_Fizica_Model_subiect.pdf"
                        target="_blank">Proba_e_d_Fizica_Model_subiect</a
                    >
                </p>
                <p>2010</p>
                <p>Sesiune I</p>
                <p>
                    <a
                        href="files/proba-e-d-fizica-subiect-8.pdf"
                        target="_blank">fizica_subiect_2010_8</a
                    >
                </p>
                <p>
                    <a href="files/proba-e-d-fizica-barem-8.pdf" target="_blank"
                        >fizica_barem_2010_8</a
                    >
                </p>
                <p>Sesiunea a II-a</p>
                <p>
                    <a
                        href="files/proba_e_d_fizica_subiect_10.pdf"
                        target="_blank">Proba_E_d_Fizica_subiect_10</a
                    >
                </p>
                <p>
                    <a
                        href="files/proba_e_d_fizica_barem_10.pdf"
                        target="_blank">Proba_E_d_Fizica_barem_10</a
                    >
                </p>
            </article>
        </div>
    </div>
    <Footer />
</Layout>
