---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import MainContainer from "../layouts/MainContainer.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import CenterContainer from "../components/CenterContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import Content from '../components/Content.jsx';
import Shortcuts from "../components/Shortcuts.astro";
---

<Layout title="fizica | cuza.pages.dev">
    <Navbar>
        <Navbar />
    </Navbar>
    <MainContainer>
        <LeftContainer>
            <span class="text-lg font-bold text-white">Altele</span>
            <a class="text-slate-500 first-line:hover:text-slate-300 hover:cursor-pointer mb-2 lg:mb-1" href="https://drive.google.com/drive/folders/1RUHqNmCLyEN-FV3IXjw_aIpZEaE-qJWq?usp=sharing" target="_blank">Culegeri fizică</a>
            <Content subject={"fizica"} page={"altele"} />
            <br />
            <Shortcuts />
        </LeftContainer>
        <CenterContainer />
        <RightContainer>
            <Content subject={"fizica"} page={"bac"} />
        </RightContainer>
    </MainContainer>
    <Footer />
</Layout>