---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../components/Footer.astro";
import Content from "../layouts/Content.astro";
import LeftContainer from "../layouts/LeftContainer.astro";
import CenterContainer from "../components/CenterContainer.astro";
import RightContainer from "../layouts/RightContainer.astro";
import MyReactComponent from '../components/MyReactComponent.jsx';



---

<Layout>
    <Navbar>
        <ul class="flex flex-wrap !pl-0 !mb-0 list-none border-none mx-auto">
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-lime-400"
                    href="/">Prima pagină</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="antrenament">Teste de antrenament</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="#">Matematică</a
                >
            </li>
            <li class="px-2 py-1 xl:px-4 xl:py-2">
                <a
                    class="text-lg font-bold hover:text-lime-400 text-blue-500"
                    href="#">Bac</a
                >
            </li>
        </ul>
    </Navbar>
    <Content>
        <LeftContainer>
            <span class="text-lg font-bold text-white">Altele</span>
            <ul class="text-slate-500 flex flex-col space-y-2 lg:space-y-1">
                <!-- {
                    altele.map((file: any) => (
                        <li>
                            <a
                                class="hover:text-slate-300"
                                href={"files/fizica/"+file.join("/")}
                                target="_blank">
                                {file[file.length - 1]}
                            </a>
                        </li>
                    ))
                } -->
            </ul>
        </LeftContainer>
        <CenterContainer />
        <RightContainer>
            
            <MyReactComponent />
        </RightContainer>
    </Content>
    <Footer />
</Layout>
