---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mate-fizica | cuza.pages.dev">
    <div class="installBtnDiv">
        <button
            id="installBtn"
            class="blue-button"
            onclick="
            install()
            "
            disabled>
            Add to home 
        </button>
    </div>
    <script is:inline>
        var beforeInstallPrompt = null;

        window.addEventListener(
            "beforeinstallprompt",
            eventHandler,
            errorHandler,
        );

        function eventHandler(event) {
            beforeInstallPrompt = event;
            document.getElementById("installBtn").removeAttribute("disabled");
        }

        function errorHandler(event) {
            console.log("error: " + event);
        }

        function install() {
            if (beforeInstallPrompt) beforeInstallPrompt.prompt();
        }
    </script>
    <style>
        .installBtnDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .blue-button {
            background-color: blue;
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            font-size: 24px;
            cursor: pointer;
        }
    </style>
</Layout>
