---
import {getEntry} from "astro:content";

const {curs} = Astro.props;

let entry;
let Content;
let headings;

if (curs) {
    entry = await getEntry("info", curs);
    if (entry) {
        ({Content, headings} = await entry.render());
    }
}
---

{entry ? (
    <>
        <p>{entry.data.title} &nbsp; {entry.data.description}</p>
        <article class="flex flex-col gap-2">
            {/* @ts-ignore */}
            <Content />
        </article>
    </>
) : (
    <p>Eroare</p>
)}
