---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';

interface Props {
  entry: CollectionEntry<'info'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

{entry ? (
    <>
        <p>{entry.data.title} &nbsp; {entry.data.description}</p>
        <article class="flex flex-col gap-2">
            <Content />
        </article>
    </>
) : (
    <p>Eroare</p>
)}
