---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  entry: CollectionEntry<"info">;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const { title, description } = entry.data as {
  title: string;
  description: string;
};
---

<>
  <p>{title} &nbsp; {description}</p>
  <article class="markdown-body">
    <Content />
  </article>
</>
