<footer class="mt-3 bg-gray-300/75 text-slate-500">
    <div class="container py-4 lg:py-3 mx-auto">
        <div class="text-muted flex justify-between items-center pt-3">
            <div class="row">
                <div class="col">
                    <p class="mb-0">Copyright © 2023 DynoW</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="text-slate-600 col">
                            <a
                                class="hover:text-slate-800"
                                href="https://github.com/DynoW"
                                target="_blank">Danutz</a
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>-Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="text-slate-600 col">
                            <a
                                class="hover:text-slate-800"
                                href="https://e-z.bio/zeniru"
                                target="_blank">Costi</a
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>-Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="text-slate-600 col">
                            <a
                                class="hover:text-slate-800"
                                href="https://www.instagram.com/extrem5pro/"
                                target="_blank">Tudor</a
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>-Documents Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="text-slate-600 col">
                            <a
                                class="hover:text-slate-800"
                                href="
                                https://www.instagram.com/ro_alex69"
                                target="_blank">Belu</a
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>-Banner Manager</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sm:rotate-0 rotate-90">
                <div class="col">
                    <p class="">cuza.pages.dev @ gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>
