<footer class="absolute bottom-0 w-full bg-gray-300/75 text-slate-500">
    <div class="container py-4 lg:py-3 mx-auto">
        <div
            class="flex flex-col sm:flex-row justify-between items-center pt-3 gap-2"
        >
            <p class="mb-0">
                Copyright © {new Date().getFullYear()}
                <a
                    class="hover:text-slate-800"
                    href="https://github.com/DynoW"
                    target="_blank">Daniel C.</a>
            </p>
            <a href="/upload" class="mb-0"
                >Ultima actualizare: {new Date().toLocaleDateString("ro-RO")}</a
            >
        </div>
    </div>
</footer>
