---
const pathname = new URL(Astro.request.url).pathname;
const currentPath: any = pathname.replace(".html", "").split("/");
---

<section class="text-center flex flex-col items-center py-6">
    <div
        class="container bg-[rgba(10,13,16,.9)] rounded-3xl py-5 max-w-screen-lg"
    >
        <div class="row mx-3">
            <div class="md:basis-1/2 xl:basis-1/3 text-left">
                <div class="row">
                    <div class="col">
                        <a
                            class="text-white hover:text-white no-underline flex align-items-center"
                            href="https://github.com/DynoW/cuza.pages.dev"
                            ><span
                                class="flex justify-center items-center me-2 hover:scale-125 hover:rotate-6 duration-300"
                                ><img
                                    src="/assets/img/logo/atom-w.svg"
                                    width="32"
                                    height="35.03"
                                    alt="logo"
                                /></span
                            >
                            <h1
                                class="container no-underline whitespace-nowrap italic font-bold !m-0 text-3xl"
                            >
                                <!-- Christmas update -->
                                {
                                    new Date().getMonth() === 12 ? (
                                        <img
                                            src="/assets/img/logo/sapca.png"
                                            width="32"
                                            height="35.03"
                                            alt="sapca"
                                            class="relative mb-[-10px] ml-[-6px]"
                                        />
                                    ) : null
                                }
                                Cuza<span class="text-lg">.</span>Pages<span
                                    class="text-lg">.dev</span
                                >
                            </h1>
                        </a>
                        <div class="row">
                            <div class="col !p-0">
                                <h2 class="text-blue-300 text-xs mb-2">
                                    Subiecte de bac din anii anteriori la fizică
                                    și matematică pentru liceeni si profesori.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col !my-2">
                <nav>
                    <ul
                        class="flex flex-wrap !pl-0 !mb-0 list-none border-none mx-auto lg:justify-end"
                    >
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "" || currentPath[1] === "fizica"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Fizică
                            </p>
                            <div class="dropdown-content -ml-12">
                                <a
                                    class={currentPath[1] === ""
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/">Bac</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "teste"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/teste">Teste de antrenament</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "simulari"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/simulari">Simulări județene</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "variante"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/variante">100 Variante</a
                                >
                            </div>
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "mate"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Matematică
                            </p>
                            <div class="dropdown-content -ml-5">
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === undefined
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate">Bac</a
                                >
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === "teste"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate/teste">Teste de antrenament</a
                                >
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === "simulari"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate/simulari">Simulări județene</a
                                >
                            </div>
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2">
                            <a
                                class={currentPath[1] === "info"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                rel="prefetch"
                                href="/info">Informatică</a
                            >
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "admitere"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Admitere
                            </p>
                            <div class="dropdown-content">
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "mate"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/mate">Mate</a
                                >
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "fizica"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/fizica">Fizică</a
                                >
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "info"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/info">Info</a
                                >
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col mb-[6px]">
                <img
                    alt="banner"
                    src="/assets/img/banner/fizica.webp"
                    class="max-h-32 object-cover w-full"
                />
                <!-- Easter update -->
                {
                    new Date().getMonth() === 3 ? (
                        <>
                            <div class="clouds" />
                            <div class="bunny" />
                            <div class="grass" />
                        </>
                    ) : null
                }
            </div>
        </div>
    </div>
</section>
