---
const pathname = new URL(Astro.request.url).pathname;
const currentPath: any = pathname.replace(".html", "").split("/");
---

<section class="text-center flex flex-col items-center py-6">
    <div
        class="container bg-[rgba(10,13,16,.9)] rounded-3xl py-5 max-w-screen-lg"
    >
        <div class="row mx-3">
            <div class="md:basis-1/2 xl:basis-1/3 text-left">
                <div class="row">
                    <div class="col">
                        <div class="flex">
                            <div class="me-3">
                                <a href="https://analytics.my-lab.ro/share/NB1WY2vtNI9A0eqD/cuza.pages.dev">
                                    <span
                                        class="min-w-min hover:scale-125 hover:rotate-6 duration-300"
                                        ><img
                                            src="/assets/img/logo/atom-w.svg"
                                            width="32"
                                            height="35.03"
                                            alt="logo"
                                        /></span
                                    >
                                </a>
                            </div>
                            <div class="">
                                <a
                                    class="text-white hover:text-white no-underline flex align-items-center"
                                    href="https://github.com/DynoW/cuza.pages.dev"
                                >
                                    <h1 id="page-title"
                                        class="relative container text-3xl italic font-bold !m-0"
                                    >
                                        <script>
                                            document.addEventListener('DOMContentLoaded', () => {
                                                
                                                if (new Date().getMonth() === 0) {
                                                    const logoContainer = document.getElementById('page-title');
                                                    if(logoContainer) {
                                                        const img = document.createElement('img');
                                                        img.src = '/assets/img/logo/sapca.png';
                                                        img.width = 32;
                                                        img.height = 35.03;
                                                        img.alt = 'sapca';
                                                        img.classList.add('absolute', '-top-[10px]', 'left-[6px]');
                                                        logoContainer.insertBefore(img, logoContainer.firstChild);
                                                    }
                                                }
                                            });
                                        </script>
                                        Cuza<span class="text-lg">.</span
                                        >Pages<span class="text-lg">.dev</span>
                                    </h1>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col !p-0">
                                <h2 class="text-blue-300 text-xs mb-2">
                                    Subiecte de bac din anii anteriori la fizică
                                    și matematică pentru liceeni si profesori.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col !my-2">
                <nav>
                    <ul
                        class="flex flex-wrap !pl-0 !mb-0 list-none border-none mx-auto lg:justify-end"
                    >
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "" ||
                                currentPath[1] === "fizica"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Fizică
                            </p>
                            <div class="dropdown-content -ml-12">
                                <a
                                    class={currentPath[1] === ""
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/">Bac</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "teste"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/teste">Teste de antrenament</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "simulari"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/simulari">Simulări județene/locale</a
                                >
                                <a
                                    class={currentPath[1] === "fizica" &&
                                    currentPath[2] === "variante"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/fizica/variante">100 Variante</a
                                >
                            </div>
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "mate"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Matematică
                            </p>
                            <div class="dropdown-content -ml-5">
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === undefined
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate">Bac</a
                                >
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === "teste"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate/teste">Teste de antrenament</a
                                >
                                <a
                                    class={currentPath[1] === "mate" &&
                                    currentPath[2] === "simulari"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/mate/simulari">Simulări jud/locale</a
                                >
                            </div>
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2">
                            <a
                                class={currentPath[1] === "info"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                rel="prefetch"
                                href="/info">Informatică</a
                            >
                        </li>
                        <li class="px-2 py-1 xl:px-4 xl:py-2 dropdown">
                            <p
                                tabindex="0"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true"
                                class={currentPath[1] === "admitere"
                                    ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                    : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                            >
                                Admitere
                            </p>
                            <div class="dropdown-content">
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "mate"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/mate">Mate</a
                                >
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "fizica"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/fizica">Fizică</a
                                >
                                <a
                                    class={currentPath[1] === "admitere" &&
                                    currentPath[2] === "info"
                                        ? "text-lg font-bold hover:text-lime-400 text-lime-400"
                                        : "text-lg font-bold hover:text-lime-400 text-blue-500"}
                                    rel="prefetch"
                                    href="/admitere/info">Info</a
                                >
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div id="container-banner" class="col mb-[6px]">
                <img
                    alt="banner"
                    src="/assets/img/banner/fizica.webp"
                    class="max-h-32 object-cover w-full"
                    height="160"
                    width="800"
                />
                <!-- Easter update -->
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        if (new Date().getMonth() === 2) {
                            const container = document.getElementById('container-banner');
                            if (container) {
                                const clouds = document.createElement('div');
                                clouds.className = 'clouds';
                                const bunny = document.createElement('div');
                                bunny.className = 'bunny';
                                const grass = document.createElement('div');
                                grass.className = 'grass';
                                container.appendChild(clouds);
                                container.appendChild(bunny);
                                container.appendChild(grass);
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</section>
