html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background: #7dbaea;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
  overflow: overlay;
}

#header {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
  position: relative;
  background: #000;
  border-radius: 20px;
  z-index: 2;
}

#branding {
  float: left;
  padding: 0 15px 10px;
  width: 30%;
}

#logo {
  font-size: 30px;
  font-weight: 700;
  padding: 15px 15px 3px;
  word-wrap: break-word;
}

#logo a {
  color: #fff;
  font-style: italic;
  text-transform: lowercase;
}

a {
  color: #3c96df;
  text-decoration: none;
}

#site-description {
  color: #7dbaea;
  font-size: 13px;
  padding: 0 15px;
}

#access {
  float: right;
  list-style-type: none;
  margin-top: 12px;
  padding: 10px 5px;
  width: 65%;
}

#access a {
  display: block;
  line-height: 2em;
  margin: 0 1px 0 0;
  padding: 0.1em 0.5em 0;
  text-decoration: none;
}

#content {
  float: right;
  width: 600px;
}

#access ul {
  font-size: 17px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  min-height: 32px;
  padding-left: 0;
}

ol,
ul {
  list-style: none;
}

#access li {
  float: left;
  margin: 0;
  position: relative;
}

#access .current_page_ancestor > a {
  background: #000;
  color: #c8e724;
}

#header-image {
  margin-bottom: 15px;
  text-align: center;
}

a img {
  border: none;
  max-width: calc(100vw - 40px);
  height: 150px;
  object-fit: contain;
}

#single-header {
  padding: 60px 0 35px;
}

#single-header {
  margin: 0 0 -30px;
  position: relative;
  top: -60px;
  z-index: 1;
}

#single-header,
#footer {
  background: #3c96df;
  border-top: 1px solid #d8eaf9;
  border-bottom: 1px solid #d8eaf9;
}

.single-title-wrap {
  margin: 0 auto;
  width: 980px;
  max-width: 100%;
}

.single-title {
  font-size: 30px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}

#main {
  margin: 0 auto;
  padding: 0;
  width: 980px;
  max-width: 100%;
}

.post-wrapper {
  margin-bottom: 0px;
}

.entry-wrapper {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}

.entry {
  line-height: 21px;
  overflow: hidden;
}

.entry p,
.entry ul,
.entry ol,
.entry dd,
.entry pre,
.entry address {
  margin-bottom: 12px;
}

.entry p {
  font-size: 16px;
  font-weight: 550;
}

a {
  color: #3c96df;
  text-decoration: none;
}

#sidebar {
  float: left;
  width: 330px;
}

.widget-area {
  color: #999;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 0 0 30px;
}

.widget-area ul {
  list-style: none;
  margin: 0;
}

.widget {
  background: #000;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.widget-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.widget-title,
.widget-title a {
  color: #3c96df;
}

.widget-area ul ul li {
  border-bottom: 1px dotted #444;
  padding: 8px 0;
}

.widget-area a {
  color: #999;
  font-size: 13px;
}

#footer {
  margin: 30px 0 10px;
  padding: 20px 0 10px;
}

#credits-by {
  text-align: center;
  color: #fff;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

@media screen and (max-width: 1020px) {
  #header {
    margin: 10px 2px;
  }
}

@media screen and (min-width: 1021px) {
  #header {
    width: 980px;
  }
}

@media screen and (max-width: 1000px) {
  #access {
    float: left;
    list-style-type: none;
    margin-top: 0px;
    padding: 10px 5px;
    width: auto;
  }

  #access a {
    display: block;
    line-height: 2em;
    margin: 0 1px 0 0;
    padding: 0.1em 1.3em 0;
    text-decoration: none;
  }

  #branding {
    float: left;
    padding: 0 15px;
    width: auto;
  }

  a img {
    padding-left: 10px;
    padding-right: 10px;
  }

  #content {
    float: right;
  }
}

@media screen and (max-width: 800px) {
  a img {
    margin-top: -25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -25px;
    max-width: calc(100vw - 40px);
  }
  #header-image {
    margin-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  a img {
    margin-top: -40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: -40px;
  }
  .entry p {
    font-size: 16px;
    font-weight: 550;
  }
  #header-image {
    margin-bottom: 5px;
    text-align: center;
  }
  #single-header {
    padding: 60px 0 10px;
  }
  #credits-by {
    font-size: 12px;
    text-align: center;
    color: #fff;
  }
}

@media screen and (max-width: 950px) {
  #sidebar,
  #content {
    float: left;
    margin-bottom: 0px;
    margin-left: 1em;
    max-width: calc(100% - 2em);
  }
}
