---
// interface Props {
//     title: string;
// }

// const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>mate-fizica | cuza.pages.dev</title>
        <meta
            name="twitter:description"
            content="Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul: DynoW/cuza.pages.dev"
        />
        <meta
            name="description"
            content="Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul: DynoW/cuza.pages.dev"
        />
        <meta
            property="og:image"
            content="https://cuza.pages.dev/assets/img/site-img.webp"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:image"
            content="https://cuza.pages.dev/assets/img/site-img.webp"
        />
        <meta property="og:type" content="website" />
        <meta name="twitter:title" content="mate-fizica | CuzaPagesDev" />
        <link
            rel="apple-touch-icon"
            type="image/png"
            sizes="180x180"
            href="assets/img/logo/atoms_180px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="assets/img/logo/atoms_16px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="assets/img/logo/atoms_32px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="180x180"
            href="assets/img/logo/atoms_180px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="assets/img/logo/atoms_192px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="assets/img/logo/atoms_512px.png"
        />
        <link rel="manifest" href="manifest.json" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="assets/img/logo/atoms_32px.png"
        />
        <meta name="theme-color" content="#0e1720"/>
        <link rel="sitemap" type="application/xml" href="sitemap-index.xml" />
    </head>
    <body
        class="backgroundImage font-['Poppins'] select-none overflow-x-hidden">
        <slot />
    </body>
</html>
<style is:global>
    @tailwind base;
    @layer base {
        @font-face {
            font-family: Poppins;
            src: url('/assets/font/Poppins-Medium.ttf') format('truetype');
            font-display: fallback;
        }
        @font-face {
            font-family: Inter;
            src: url('/assets/font/Inter-Bold.ttf') format('truetype');
            font-display: fallback;
        }
        :root {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
        }
        a {
            transition: 0.2s;
        }
        .container {
            width: 100%;
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .row > * {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * 0.5);
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            margin-top: var(--bs-gutter-y);
        }
        .col {
            flex: 1 0 0%;
        }
        .backgroundImage {
            background: url(/assets/img/background/bg-pattern.png),
                linear-gradient(to left, #212735, #337fd5);
        }
        .banner {
            display: inline-block;
            width: 980px;
            height: calc(100vw - 300px);
            background: url("/assets/img/banner/picture-9v2.webp")
                center/100% no-repeat;
            max-width: 100%;
            height: 150px;
        }

        .banner:hover {
            background: url("/assets/img/banner/picture-9v2-1.png")
                center/100% no-repeat;
            transition: 10s;
            max-width: 100%;
            max-height: 150px;
        }
    }
</style>
