---
import {SEO} from "astro-seo";
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            charset="UTF-8"
            title={title}
            description="Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul: DynoW/cuza.pages.dev"
            openGraph={{
                basic: {
                    title: title,
                    type: "website",
                    image: "https://cuza.pages.dev/assets/img/site-img.webp",
                },
            }}
            twitter={{
                creator: "@DynoW",
            }}
            extend={{
                link: [
                    {
                        rel: "preload",
                        href: "/assets/fonts/poppins-medium.woff2",
                        as: "font",
                        crossorigin: "",
                    },
                    {
                        rel: "preload",
                        href: "/assets/fonts/inter-medium.woff2",
                        as: "font",
                        crossorigin: "",
                    },
                    {
                        rel: "apple-touch-icon",
                        type: "image/png",
                        sizes: "180x180",
                        href: "/assets/img/logo/atoms_180px.png",
                    },
                    {
                        rel: "icon",
                        type: "image/png",
                        sizes: "16x16",
                        href: "/assets/img/logo/atoms_16px.png",
                    },
                    {
                        rel: "icon",
                        type: "image/png",
                        sizes: "32x32",
                        href: "/assets/img/logo/atoms_32px.png",
                    },
                    {
                        rel: "icon",
                        type: "image/png",
                        sizes: "180x180",
                        href: "/assets/img/logo/atoms_180px.png",
                    },
                    {
                        rel: "icon",
                        type: "image/png",
                        sizes: "192x192",
                        href: "/assets/img/logo/atoms_192px.png",
                    },
                    {
                        rel: "icon",
                        type: "image/png",
                        sizes: "512x512",
                        href: "/assets/img/logo/atoms_512px.png",
                    },
                    {
                        rel: "shortcut icon",
                        type: "image/png",
                        sizes: "32x32",
                        href: "/assets/img/logo/atoms_32px.png",
                    },
                    {
                        rel: "manifest",
                        href: "/manifest.json",
                    },
                    {
                        rel: "sitemap",
                        type: "application/xml",
                        href: "/sitemap-index.xml",
                    },
                    {
                        rel: "stylesheet",
                        href: "/assets/css/github-markdown.css",
                    },
                ],
                meta: [
                    {
                        name: "viewport",
                        content:
                            "width=device-width, initial-scale=1.0, shrink-to-fit=no",
                    },
                    {
                        name: "twitter:image",
                        content:
                            "https://cuza.pages.dev/assets/img/site-img.webp",
                    },
                    {
                        name: "twitter:title",
                        content: title,
                    },
                    {
                        name: "twitter:description",
                        content:
                            "Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul: DynoW/cuza.pages.dev",
                    },
                    {
                        name: "theme-color",
                        content: "#0e1720",
                    },
                ],
            }}
        />
        {
            (import.meta.env.PROD === true) ? (
            <!-- Google tag (gtag.js) -->
            <script
                async
                src="https://www.googletagmanager.com/gtag/js?id=G-PS1EBGH4HS"
            ></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag("js", new Date());

                gtag("config", "G-PS1EBGH4HS")
            </script>
            ): []}
    </head>
    <body class="backgroundImage font-serif select-none overflow-x-hidden relative min-h-screen">
        <slot />
        <style is:global>
            @tailwind utilities;

            @layer utilities {
                @font-face {
                    font-family: Poppins;
                    src:
                        url("/assets/fonts/poppins-medium.woff2")
                            format("woff2"),
                        url("/assets/fonts/poppins-medium.woff") format("woff");
                    font-display: swap;
                }
                @font-face {
                    font-family: Inter;
                    src:
                        url("/assets/fonts/inter-medium.woff2") format("woff2"),
                        url("/assets/fonts/inter-medium.woff") format("woff");
                    font-display: swap;
                }
                :root {
                    --bs-gutter-x: 1.5rem;
                    --bs-gutter-y: 0;
                }
                a {
                    transition: 0.2s;
                }
                .container {
                    width: 100%;
                    padding-right: calc(var(--bs-gutter-x) * 0.5);
                    padding-left: calc(var(--bs-gutter-x) * 0.5);
                }
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }
                .row > * {
                    flex-shrink: 0;
                    width: 100%;
                    max-width: 100%;
                    padding-right: calc(var(--bs-gutter-x) * 0.5);
                    padding-left: calc(var(--bs-gutter-x) * 0.5);
                    margin-top: var(--bs-gutter-y);
                }
                .col {
                    flex: 1 0 0%;
                }
                .backgroundImage {
                    background: url("/assets/img/background/bg-pattern.png"),
                        linear-gradient(to left, #212735, #337fd5);

                    /* christmas update */
                    /* background: url("/assets/img/background/bg-pattern-cr.png"),
                        linear-gradient(to left, #330d0d,#cc3333); */

                    /* easter update */
                    /* background: url("/assets/img/background/bg-pattern.webp"),
                        linear-gradient(to top, #5c6b7e, #6091d2 23%, #7faeec 95%, #6091d2);
                    background-attachment: fixed; */
                }
                .grass {
                    z-index: -2;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 170px;
                    background-image: url("/assets/img/background/grass.webp");
                    background-repeat: repeat-x;
                }
                .clouds {
                    z-index: -1;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 275px;
                    background-image: url("/assets/img/background/clouds.webp");
                    background-repeat: repeat-x;
                }
                .bunny {
                    z-index: -1;
                    position: fixed;
                    bottom: -1px;
                    left: 0;
                    width: 250px;
                    height: 300px;
                    background-image: url("/assets/img/background/bunny.webp");
                    background-repeat: no-repeat;
                }
                .altele-list {
                    @apply flex flex-col space-y-2 lg:space-y-1 text-slate-500;
                }
                .altele-link {
                    @apply hover:text-slate-300;
                }
                .altele-text {
                    @apply text-white;
                }
                .content-list {
                    @apply mb-2 space-y-4 text-slate-600;
                }
                .content-link {
                    @apply hover:text-slate-900 focus:text-slate-900 md:text-lg;
                }
                .content-text {
                    @apply text-gray-900 md:text-lg;
                }
                .dropdown {
                    @apply relative inline-block;
                }

                .dropdown-content {
                    @apply hidden absolute border rounded-lg border-blue-950 z-10;
                }

                .dropdown-content a {
                    @apply border-2 bg-zinc-950/70 border-blue-950 py-1 px-3;
                }

                .dropdown:hover .dropdown-content,
                .dropdown:focus .dropdown-content {
                    @apply flex flex-col;
                }

                .dropdown .dropdown-content a:hover {
                    @apply bg-zinc-950/80;
                }
                .QR {
                    @apply max-md:hidden;
                }
                .shortcut-link {
                    @apply text-slate-500 hover:text-slate-300 text-lg;
                }
                .shortcut-pipe {
                    @apply text-slate-500 text-lg;
                }
            }
        </style>
    </body>
</html>
