---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>antrenament | CuzaLearn</title>
        <meta
            name="twitter:description"
            content="Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul CuzaLearn."
        />
        <meta
            name="description"
            content="Subiecte de bac din anii anteriori la fizica si matematica pentru liceeni si profesori. Parte din proiectul CuzaLearn."
        />
        <meta
            property="og:image"
            content="https://cuza.pages.dev/assets/img/site-img.webp"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:image"
            content="https://cuza.pages.dev/assets/img/site-img.webp"
        />
        <meta property="og:type" content="website" />
        <meta name="twitter:title" content="mate-fizica | CuzaLearn" />
        <link
            rel="apple-touch-icon"
            type="image/png"
            sizes="180x180"
            href="assets/img/logo/atoms_180px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="assets/img/logo/atoms_16px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="assets/img/logo/atoms_32px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="180x180"
            href="assets/img/logo/atoms_180px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="assets/img/logo/atoms_192px.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="512x512"
            href="assets/img/logo/atoms_512px.png"
        />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500&display=swap"
            rel="stylesheet"
        />
        <link rel="manifest" href="manifest.json" />
        <link rel="stylesheet" href="assets/css/styles.min.css" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="assets/img/logo/atoms_32px.png"
        />
        <link rel="sitemap" type="application/xml" href="sitemap-index.xml" />
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-G1J3RGTNH9"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-G1J3RGTNH9");
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>

</style>
