<div class="flex flex-col justify-center max-w-full basis-1/3 min-w-52 mb-2.5 gap-2 md:gap-6">
    <div class="bg-[rgba(10,13,16,.9)] rounded-3xl py-5">
        <div class="mx-5 flex flex-col">
            <slot />
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1687540397754088"
        crossorigin="anonymous"></script>
        <div id="ad" class="top-2">
            <!-- banner-ad-1-vertical -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1687540397754088"
                data-ad-slot="5482915098"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script is:inline>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <script>
            const ad = document.getElementById("ad");
            window.addEventListener('scroll', () => {
            if(ad && window.innerWidth > 768) {
                if (window.scrollY > window.innerHeight * 3 / 4) {
                    ad.style.position = 'fixed';
                } else {
                    ad.style.position = 'static';
                }
            }
            });
        </script>
        <!-- <div id="ad">
            <ins class="adsbygoogle block md:hidden"
                data-ad-client="ca-pub-1687540397754088"
                data-ad-slot="5482915098"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script is:inline>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div id="ad2" class="transition-all duration-50">
            multiplex-ad-1-vertical
            <ins class="adsbygoogle hidden md:inline-block"
            style="width:100%;max-width:341px;height:620px"
            data-ad-client="ca-pub-1687540397754088"
            data-ad-slot="1042210850"></ins>
            < is:inline>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </>
        </div>
        <script>
            const ad2 = document.getElementById("ad2");
            window.addEventListener('scroll', () => {
            if(ad2) {
                if (window.scrollY > window.innerHeight * 3 / 4) {
                    ad2.style.position = 'fixed';
                } else {
                    ad2.style.position = 'static';
                }
                if (window.scrollY < document.body.scrollHeight - window.innerHeight - 50) {
                    ad2.style.top = `${(window.innerHeight - ad2.offsetHeight) / 2-80}px`;
                }
            }
            });
        </script> -->
    </div>
</div>
