<div class="bg-gray-100/90 rounded-3xl p-5 pr-2.5 basis-7/12 min-w-full md:min-w-fit max-w-full contain-content">
    <article
        class="font-sans break-words text-base font-bold text-left">
        <slot />
    </article>
</div>
